<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <img width="200" alt="Angular Logo" src="https://media.licdn.com/dms/image/C560BAQHMM8w9LXfpqw/company-logo_200_200/0?e=1548892800&v=beta&t=jLOtSWx6tuf3dr_gcSKYPbKc7mQVNMFjgWDW_iA7ZmU">


  <h2>Please, send us a note!</h2>

  <div class="example-container" style="text-align: -webkit-center;">
    <mat-card>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

        <mat-form-field>
          <input matInput type="email|url|tel" name="email" ngModel placeholder="Your email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required #email="ngModel" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" name="subject" ngModel placeholder="What is it regarding?" required />
        </mat-form-field>

        <mat-form-field>
          <textarea matInput type="text" name="body" ngModel placeholder="Tell us what's on your mind.." required></textarea>
        </mat-form-field>
        <button mat-raised-button [disabled]="!f.valid">Submit</button>
      </form>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>