<!--The content below is only a placeholder and can be replaced.-->

<img style="  margin-top: 30px;
margin-left: 70px; width: 90px;" src="../assets/images/logo1.png">

<div class="example-container" style="text-align: -webkit-center;">
  <h2>Contact Us</h2>
  <mat-card>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

      <mat-form-field>
        <input matInput type="email|url|tel" name="email" ngModel placeholder="Your email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          required #email="ngModel" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" name="subject" ngModel placeholder="Subject" required />
      </mat-form-field>

      <mat-form-field>
        <textarea style="min-height: 70px;" matInput type="text" name="body" ngModel placeholder="Tell us what's on your mind.."
          required></textarea>
      </mat-form-field>

      <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required siteKey="6LcVxXcUAAAAAN1XH9U-OXQU5xsXItUDfBMvBnK5
        "
        #captchaControl="ngModel"></re-captcha>

      <button color="primary" mat-raised-button [disabled]="!f.valid">Submit</button>
    </form>
  </mat-card>
</div>
<router-outlet></router-outlet>